body, html{
  height:100%;
}
body{
  cursor: crosshair;
  margin: 0px;
  background-color:black;
  font-size: 18px;
  overflow: hidden;
  /*background: url("../img/bg.jpg");*/
  /*background-size: cover;*/
  font-family: 'Press Start 2P', cursive;
}

.star{
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius:2px;
  position:absolute;
}
.growImage{
  position:absolute;
  z-index: 1;
}
.growImage-right{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.injury{
  position: absolute;
  z-index:100;
  width:100%;
  height:100%;
  background-color: red;
  opacity:0.4;
  display:none;
  pointer-events: none;
}

.falcon{
  position:absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.statusBar {
  position:absolute;
  z-index: 6;
  left: 50px;
  bottom: 0;
  color: yellow;
}

.mainTitle {
  text-align: center;
  font-size: 40px;
  color: yellow;
  position: absolute;
  left: 50px;
  z-index: 10;
  pointer-events: none;
}
